<template>
  <div class="order">
    <!--logo nav-->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand inline" href="#">
        <h1>
          <img src="../../assets/logo.png" width="50" height="50" class="d-inline-block align-top" alt=""
            style="margin-right:15px;">
          La Mer Cafe
        </h1>
      </a>
    </nav>

    <!--menu bar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark" style="background-color: black;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <router-link to="/admin/order" class="btn btn-info btn-lg" role="button" aria-pressed="true" style="margin-right:10px">
              Orders</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/stock" class="btn btn-info btn-lg" role="button" aria-pressed="true">Stock
            </router-link>
          </li>
        </ul>
      </div>
    </nav>

    <div class="text-center">
      <br>
      <h1>Orders List</h1>
    </div>
    <div class="row" style="margin:20px">
      <!-- Default inline 1-->
      <div class="col-md text-center">
        <button v-if="select!='new'" type="button" class="btn btn-light btn-lg btn-block"
          @click="changeSelect('new')">New Orders</button>
        <button v-else type="button" class="btn btn-warning btn-lg btn-block">New Orders</button>
      </div>
      <!-- Default inline 2-->
      <div class="col-md text-center">
        <button v-if="select!='archive'" type="button" class="btn btn-light btn-lg btn-block"
          @click="changeSelect('archive')">Archive Orders</button>
        <button v-else type="button" class="btn btn-success btn-lg btn-block">Archive Orders</button>
      </div>
      <!-- Default inline 3-->
      <div class="col-md text-center">
        <button v-if="select!='delete'" type="button" class="btn btn-light btn-lg btn-block"
          @click="changeSelect('delete')">Delete Orders</button>
        <button v-else type="button" class="btn btn-danger btn-lg btn-block">Delete Orders</button>
      </div>
    </div>

    <!--new order list-->
    <div v-if="select=='new'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead style="background-color:#FFDF81">
            <tr>
              <th scope="col" style="text-align:center">NO.<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Order ID<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Name-Surname<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Telephone<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Actions<h5><br></h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in newOrders" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.orderid? item.orderid:''}}</td>
              <td style="text-align:center">{{item.user? item.user.firstname+' '+item.user.lastname:''}}</td>
              <td style="text-align:center">{{item.user? item.user.phone:''}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#viewModal"
                  @click="viewBtnShow(item)">View</button>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                  @click="deleteBtnShow(item)">Delete</button>
                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#archiveModal"
                  @click="archiveBtnShow(item)">Archive</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((newOrders.length%maxItemPerPage==0? parseInt((newOrders.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((newOrders.length)/maxItemPerPage)-4 || index==parseInt((newOrders.length)/maxItemPerPage)-5):parseInt((newOrders.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((newOrders.length)/maxItemPerPage)-4+1 || index==parseInt((newOrders.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (newOrders.length%maxItemPerPage==0? parseInt((newOrders.length)/maxItemPerPage):parseInt((newOrders.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="newOrders.length%maxItemPerPage==0? (pagination+1<parseInt((newOrders.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((newOrders.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="newOrders.length%maxItemPerPage==0? pagination=parseInt(newOrders.length/maxItemPerPage)-1:pagination=parseInt(newOrders.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>
    </div>    

    <!--archive order list-->
    <div v-else-if="select=='archive'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead style="background-color:#4AEC70">
            <tr>
              <th scope="col" style="text-align:center">NO.<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Order ID<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Name-Surname<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Telephone<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Actions<h5><br></h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in archiveOrders" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.orderid? item.orderid:''}}</td>
              <td style="text-align:center">{{item.user? item.user.firstname+' '+item.user.lastname:''}}</td>
              <td style="text-align:center">{{item.user? item.user.phone:''}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#viewModal"
                  @click="viewBtnShow(item)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((archiveOrders.length%maxItemPerPage==0? parseInt((archiveOrders.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((archiveOrders.length)/maxItemPerPage)-4 || index==parseInt((archiveOrders.length)/maxItemPerPage)-5):parseInt((archiveOrders.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((archiveOrders.length)/maxItemPerPage)-4+1 || index==parseInt((archiveOrders.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (archiveOrders.length%maxItemPerPage==0? parseInt((archiveOrders.length)/maxItemPerPage):parseInt((archiveOrders.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="archiveOrders.length%maxItemPerPage==0? (pagination+1<parseInt((archiveOrders.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((archiveOrders.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="archiveOrders.length%maxItemPerPage==0? pagination=parseInt(archiveOrders.length/maxItemPerPage)-1:pagination=parseInt(archiveOrders.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>
    </div>

    <!--delete order list-->
    <div v-else-if="select=='delete'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead style="background-color:#F76977">
            <tr>
              <th scope="col" style="text-align:center">NO.<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Order ID<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Name-Surname<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Telephone<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Actions<h5><br></h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in deleteOrders" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.orderid? item.orderid:''}}</td>
              <td style="text-align:center">{{item.user? item.user.firstname+' '+item.user.lastname:''}}</td>
              <td style="text-align:center">{{item.user? item.user.phone:''}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#viewModal"
                  @click="viewBtnShow(item)">View</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((deleteOrders.length%maxItemPerPage==0? parseInt((deleteOrders.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((deleteOrders.length)/maxItemPerPage)-4 || index==parseInt((deleteOrders.length)/maxItemPerPage)-5):parseInt((deleteOrders.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((deleteOrders.length)/maxItemPerPage)-4+1 || index==parseInt((deleteOrders.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (deleteOrders.length%maxItemPerPage==0? parseInt((deleteOrders.length)/maxItemPerPage):parseInt((deleteOrders.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="deleteOrders.length%maxItemPerPage==0? (pagination+1<parseInt((deleteOrders.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((deleteOrders.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="deleteOrders.length%maxItemPerPage==0? pagination=parseInt(deleteOrders.length/maxItemPerPage)-1:pagination=parseInt(deleteOrders.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>
    </div>
    
    <!-- Modal View-->
    <div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="editModalLabel"><b>View</b></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- user -->
            <div class="container " style="padding:10px;border-radius:10px;">
              <h6 style="font-size:23px">User Information</h6>
              <div class="row">
                <div class="col-3 text-right"><b>Name</b></div>
                <div class="col">{{viewItem.user? viewItem.user.firstname:''}} {{viewItem.user? viewItem.user.lastname:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Gender</b></div>
                <div class="col">{{viewItem.user? viewItem.user.gender:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Birthday</b></div>
                <div class="col">{{viewItem.user? viewItem.user.birthdate:''}}</div>
              </div>
              <div class="row">
                <label class="col-3 text-right"><b>Address</b></label>
                <label class="col">{{viewItem.user? viewItem.user.address:''}} </label>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Province</b></div>
                <div class="col">{{viewItem.user? viewItem.user.province:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Zipcode</b></div>
                <div class="col">{{viewItem.user? viewItem.user.zipcode:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Country</b></div>
                <div class="col">{{viewItem.user? viewItem.user.country:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Email</b></div>
                <div class="col">{{viewItem.user? viewItem.user.email:''}}</div>
              </div>
              <div class="row">
                <div class="col-3 text-right"><b>Phone</b></div>
                <div class="col">{{viewItem.user? viewItem.user.phone:''}}</div>
              </div>
            </div>
            <br>
            <h6 style="font-size:23px">Orders</h6>
            <!-- order -->
            <div class="container bg-light" style="margin-top:10px;border-radius:10px;" v-if="index!='totalprice' && index!='user' && index!='uid' && index!='orderid'"
              v-for="(value,index) in viewItem" :key="index">
              <div class="row">
                <div class="col-4">
                  <img :src="value.imgurl" width="100%">
                </div>
                <!--dessert-->
                <div class="col" v-if="value.type=='dessert'">
                  <div class="row">
                    <div class="col-4 text-right"><b>Name</b></div>
                    <div class="col">{{value.name}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Toppings</b></div>
                    <div class="col">
                      <div v-for="(v,i) in value.toppings" :key="i">
                        {{v.name}} {{v.price}} ฿
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Type</b></div>
                    <div class="col">Dessert</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Amount</b></div>
                    <div class="col">{{value.amount}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Price</b></div>
                    <div class="col">{{value.price}} ฿</div>
                  </div>
                </div>
                <!--beverage-->
                <div class="col" v-else-if="value.type=='beverage'">
                  <div class="row">
                    <div class="col-4 text-right"><b>Name</b></div>
                    <div class="col">{{value.name}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Type</b></div>
                    <div class="col">Beverage</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Sweetness</b></div>
                    <div class="col">{{value.sweet}} %</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Amount</b></div>
                    <div class="col">{{value.amount}}</div>
                  </div>
                  <div class="row">
                    <div class="col-4 text-right"><b>Price</b></div>
                    <div class="col">{{value.price}} ฿</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row text" style="margin-top:10px;">
              <div class="col text-right" style="font-size:20px"><b>Price Total</b></div>
              <div class="col text-left" style="font-size:20px">{{viewItem.totalprice}} ฿</div>
            </div>
            <br>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Confirm delete {{deleteItem.orderid}} orderid ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="deleteBtn()">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal archive-->
    <div class="modal fade" id="archiveModal" tabindex="-1" role="dialog" aria-labelledby="archiveModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="archiveModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Confirm archive {{archiveItem.orderid}} orderid ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="archiveBtn()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Stock',
    data() {
      return {
        msg: 'Welcome to Stock Page',
        select: '',
        pagination: 0,
        maxItemPerPage: 5,
        newOrders: [],
        archiveOrders: [],
        deleteOrders: [],
        select: 'new',
        viewItem: {},
        deleteItem: {},
        archiveItem: {},
      }
    },
    methods: {
      changeSelect(type) {
        this.select = type
        this.pagination = 0
      },
      //view
      viewBtnShow(item) {
        console.log(item)
        this.viewItem = item
      },
      //delete
      deleteBtnShow(item) {
        console.log(item)
        this.deleteItem = item
      },
      async deleteBtn(){      
        await firebase.database().ref('deleteOrders').push(this.deleteItem)
         .then((data) => {
           console.log(data)
         })
         .catch((error) => {
           console.log(error)
         })
        await firebase.database().ref('orders/' + this.deleteItem.orderid).remove()
      },
      //archive
      archiveBtnShow(item) {
        console.log(item)
        this.archiveItem = item
      },
      async archiveBtn(){
        await firebase.database().ref('archiveOrders/').push(this.archiveItem)
         .then((data) => {
           console.log(data)
         })
         .catch((error) => {
           console.log(error)
         })
        await firebase.database().ref('orders/' + this.archiveItem.orderid).remove()
      }
    },
    mounted() {
      firebase.database().ref('orders/').on('value', (snapshot) => {
        var response = snapshot.val()
        this.newOrders = []
        var dessert
        var beverage
        firebase.database().ref('dessert/').once('value').then((snapshot2) => {
          firebase.database().ref('beverage/').once('value').then(async (snapshot3) => {
            dessert = snapshot2.val()
            beverage = snapshot3.val()
            for (var i in response) {              
              await firebase.database().ref('users/' + response[i].uid).once('value').then((snapshot4) => {
                console.log(i)
                var totalPrice = 0
                for (var j in response[i]) {
                  if(j!='uid' && j!='user' && j!='orderid' && j!='totalprice') totalPrice += response[i][j].price
                  for (var k in dessert) {
                    if (dessert[k].name == response[i][j].name) {
                      response[i][j].imgurl = dessert[k].imgurl
                    }
                  }
                  for (var k in beverage) {
                    if (beverage[k].name == response[i][j].name) {
                      response[i][j].imgurl = beverage[k].imgurl
                    }
                  }
                }
                response[i].totalprice = totalPrice
                response[i].user = snapshot4.val()
                response[i].orderid = i
                if(response[i].user!=undefined) response[i].user.birthdate = new Date(response[i].user.birthdate).toDateString()
                else response[i].user={firstname:"User Not Found" ,lastname :''}
                this.newOrders.push(response[i])
                console.log("add new new orders ")               
              })           
            }
          })
        })        
      })
      firebase.database().ref('deleteOrders/').on('value', (snapshot) => {
        var response = snapshot.val()
        this.deleteOrders = []
        var dessert
        var beverage
        firebase.database().ref('dessert/').once('value').then((snapshot2) => {
          firebase.database().ref('beverage/').once('value').then(async (snapshot3) => {
            dessert = snapshot2.val()
            beverage = snapshot3.val()
            for (var i in response) {              
              await firebase.database().ref('users/' + response[i].uid).once('value').then((snapshot4) => {
                console.log(i)
                var totalPrice = 0
                for (var j in response[i]) {
                  if(j!='uid' && j!='user' && j!='orderid' && j!='totalprice') totalPrice += response[i][j].price
                  for (var k in dessert) {
                    if (dessert[k].name == response[i][j].name) {
                      response[i][j].imgurl = dessert[k].imgurl
                    }
                  }
                  for (var k in beverage) {
                    if (beverage[k].name == response[i][j].name) {
                      response[i][j].imgurl = beverage[k].imgurl
                    }
                  }
                }
                response[i].totalprice = totalPrice
                response[i].user = snapshot4.val()
                response[i].orderid = i
                if(response[i].user!=undefined) response[i].user.birthdate = new Date(response[i].user.birthdate).toDateString()
                else response[i].user={firstname:"User Not Found" ,lastname :''}
                this.deleteOrders.push(response[i])
                console.log("add new new orders ")               
              })           
            }
          })
        })
      })
      firebase.database().ref('archiveOrders/').on('value', (snapshot) => {
        var response = snapshot.val()
        this.archiveOrders = []
        var dessert
        var beverage
        firebase.database().ref('dessert/').once('value').then((snapshot2) => {
          firebase.database().ref('beverage/').once('value').then(async (snapshot3) => {
            dessert = snapshot2.val()
            beverage = snapshot3.val()
            for (var i in response) {              
              await firebase.database().ref('users/' + response[i].uid).once('value').then((snapshot4) => {
                console.log(i)
                var totalPrice = 0
                for (var j in response[i]) {
                  if(j!='uid' && j!='user' && j!='orderid' && j!='totalprice') totalPrice += response[i][j].price
                  for (var k in dessert) {
                    if (dessert[k].name == response[i][j].name) {
                      response[i][j].imgurl = dessert[k].imgurl
                    }
                  }
                  for (var k in beverage) {
                    if (beverage[k].name == response[i][j].name) {
                      response[i][j].imgurl = beverage[k].imgurl
                    }
                  }
                }
                response[i].totalprice = totalPrice
                response[i].user = snapshot4.val()
                response[i].orderid = i
                if(response[i].user!=undefined) response[i].user.birthdate = new Date(response[i].user.birthdate).toDateString()
                else response[i].user={firstname:"User Not Found" ,lastname :''}
                this.archiveOrders.push(response[i])
                console.log("add new new orders ")               
              })           
            }
          })
        })
      })
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
