<template>
  <div>
    <!--logo nav-->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand inline" href="#">
        <h1>
          <img src="../../assets/logo.png" width="50" height="50" class="d-inline-block align-top" alt=""
            style="margin-right:15px;">
          La Mer Cafe
        </h1>
      </a>
    </nav>

    <!--menu bar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark" style="background-color: black;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <router-link to="/admin/order" class="btn btn-info btn-lg" role="button" aria-pressed="true"
              style="margin-right:10px">Orders</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/admin/stock" class="btn btn-info btn-lg" role="button" aria-pressed="true">Stock</router-link>
          </li>
        </ul>
      </div>      
    </nav>

    <div class="text-center">
      <br>
      <h1>Stock</h1>
      <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-auto text-right">
          <h5 class="custom-control custom-radio custom-control-inline">Select Type </h5>
          <!-- Default inline 1-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample"
              value="option1" @click="changeSelect('Desserts')">
            <label class="custom-control-label" for="defaultInline1" style="font-size:larger">Desserts</label>
          </div>
          <!-- Default inline 2-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample"
              value="option1" @click="changeSelect('Toppings')">
            <label class="custom-control-label" for="defaultInline2" style="font-size:larger"> Toppings </label>
          </div>
          <!-- Default inline 3-->
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="inlineDefaultRadiosExample"
              value="option1" @click="changeSelect('Beverages')">
            <label class="custom-control-label" for="defaultInline3" style="font-size:larger">Beverages</label>
          </div>
        </div>
        <!-- Button trigger Add modal -->
        <div class="col-5 text-right" v-if="select!=''">
          <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModal">+
            ADD</button>
        </div>

        <!-- Modal Add-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New
                  {{select=='Desserts'? "Desserts":select=='Toppings'? "Toppings":"Beverage"}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div v-if="select=='Desserts'">
                  <label for="exampleFormControlInput1">Type</label>
                  <select class="form-control" v-model="newDessert.type">
                    <option value="pancake">Pancake</option>
                    <option value="toast">Toast</option>
                    <option value="waffle">Waffle</option>
                    <option value="crepe">Crepe</option>
                  </select>
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="text" class="form-control" id="nameDessert" placeholder="Name"
                    v-model.lazy="newDessert.name" @change="checkNameConflick()">
                  <label for="exampleFormControlInput1">Description</label>
                  <input type="text" class="form-control" id="descriptionDessert" placeholder="Description"
                    v-model="newDessert.description">
                  <label for="exampleFormControlInput1">Status</label>
                  <select class="form-control" v-model="newDessert.status">
                    <option value="true">Available</option>
                    <option value="false">Out of Stock</option>
                  </select>
                  <label for="exampleFormControlInput1">Price (Baht)</label>
                  <input type="number" min="0" class="form-control" id="priceDessert" placeholder="Price"
                    v-model="newDessert.price" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                  <label for="exampleFormControlInput1">Image URL</label>
                  <input type="text" class="form-control" id="imgurlDessert" placeholder="Image URL"
                    v-model="newDessert.imgurl">

                </div>
                <div v-else-if="select=='Toppings'">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="text" class="form-control" id="nameDessert" placeholder="Name" v-model="newTopping.name" @change="checkNameConflick()">
                  <label for="exampleFormControlInput1">Status</label>
                  <select class="form-control" v-model="newTopping.status">
                    <option value="true">Available</option>
                    <option value="false">Out of Stock</option>
                  </select>
                  <label for="exampleFormControlInput1">Price (Baht)</label>
                  <input type="number" min="0" class="form-control" id="priceDessert" placeholder="Price"
                    v-model="newTopping.price" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </div>
                <div v-else>
                  <label for="exampleFormControlInput1">Type</label>
                  <select class="form-control" v-model="newBeverage.type">
                    <option value="coffee">Coffee</option>
                    <option value="tea">Tea</option>
                    <option value="soda">Soda</option>
                  </select>
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="text" class="form-control" id="nameDessert" placeholder="Name"
                    v-model="newBeverage.name" @change="checkNameConflick()">
                  <label for="exampleFormControlInput1">Description</label>
                  <input type="text" class="form-control" id="descriptionDessert" placeholder="Description"
                    v-model="newBeverage.description">
                  <label for="exampleFormControlInput1">Status</label>
                  <select class="form-control" v-model="newBeverage.status">
                    <option value="true">Available</option>
                    <option value="false">Out of Stock</option>
                  </select>
                  <label for="exampleFormControlInput1">Price (Baht)</label>
                  <div class="row">
                    <div class="col">
                      <input type="number" min="0" class="form-control" id="priceDessert" placeholder="S"
                        v-model="newBeverage.price.s" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                    </div>
                    <div class="col">
                      <input type="number" min="0" class="form-control" id="priceDessert" placeholder="M"
                        v-model="newBeverage.price.m" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                    </div>
                    <div class="col">
                      <input type="number" min="0" class="form-control" id="priceDessert" placeholder="L"
                        v-model="newBeverage.price.l" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                    </div>
                  </div>
                  <label for="exampleFormControlInput1">Image URL</label>
                  <input type="text" class="form-control" id="imgurlDessert" placeholder="Image URL"
                    v-model="newBeverage.imgurl">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="(addNew())">Save</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
    <!--table desserts-->
    <div id="desserts" v-if="select=='Desserts'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-danger">
            <tr>
              <th scope="col" style="text-align:center">NO.
              </th>
              <th scope="col" style="text-align:center">Name
              </th>
              <th scope="col" style="text-align:center">Description
              </th>
              <th scope="col" style="text-align:center">Status
              </th>
              <th scope="col" style="text-align:center">Price(baht)
              </th>
              <th scope="col" style="text-align:center">Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in desserts" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.name}}</td>
              <td style="text-align:center">{{item.description}}</td>
              <td style="text-align:center">{{item.status=='true'? 'Available':'Out of stock'}}</td>
              <td style="text-align:center">{{item.price}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal"
                  @click="editBtnShow(item)">Edit</button>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                  @click="deleteBtnShow(item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((desserts.length%maxItemPerPage==0? parseInt((desserts.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((desserts.length)/maxItemPerPage)-4 || index==parseInt((desserts.length)/maxItemPerPage)-5):parseInt((desserts.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((desserts.length)/maxItemPerPage)-4+1 || index==parseInt((desserts.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (desserts.length%maxItemPerPage==0? parseInt((desserts.length)/maxItemPerPage):parseInt((desserts.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="desserts.length%maxItemPerPage==0? (pagination+1<parseInt((desserts.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((desserts.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="desserts.length%maxItemPerPage==0? pagination=parseInt(desserts.length/maxItemPerPage)-1:pagination=parseInt(desserts.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>

    </div>
    <!--table toppings-->
    <div id="toppings" v-else-if="select=='Toppings'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="bg-warning">
            <tr>
              <th scope="col" style="text-align:center">NO.
              </th>
              <th scope="col" style="text-align:center">Name
              </th>
              <th scope="col" style="text-align:center">Status
              </th>
              <th scope="col" style="text-align:center">Price(baht)
              </th>
              <th scope="col" style="text-align:center">Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in toppings" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.name}}</td>
              <td style="text-align:center">{{item.status=='true'? 'Available':'Out of stock'}}</td>
              <td style="text-align:center">{{item.price}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal"
                  @click="editBtnShow(item)">Edit</button>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                  @click="deleteBtnShow(item)">Delete</button>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((toppings.length%maxItemPerPage==0? parseInt((toppings.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((toppings.length)/maxItemPerPage)-4 || index==parseInt((toppings.length)/maxItemPerPage)-5):parseInt((toppings.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((toppings.length)/maxItemPerPage)-4+1 || index==parseInt((toppings.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (toppings.length%maxItemPerPage==0? parseInt((toppings.length)/maxItemPerPage):parseInt((toppings.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="toppings.length%maxItemPerPage==0? (pagination+1<parseInt((toppings.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((toppings.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="toppings.length%maxItemPerPage==0? pagination=parseInt(toppings.length/maxItemPerPage)-1:pagination=parseInt(toppings.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>
    </div>
    <!--table beverages-->
    <div id="beverages" v-else-if="select=='Beverages'" style="margin:20px">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead style="background-color:#5DDC35">
            <tr>
              <th scope="col" style="text-align:center">NO.<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Name<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Description<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">Status<h5><br></h5>
              </th>
              <th scope="col" style="text-align:center">
                <h6>S</h6>
              </th>
              <th scope="col" style="text-align:center">Price(baht)<h6><br>M</h6>
              </th>
              <th scope="col" style="text-align:center">
                <h6>L</h6>
              </th>
              <th scope="col" style="text-align:center">Actions<h5><br></h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="pagination == parseInt(index/maxItemPerPage)" v-for="(item,index) in beverages" :key="index">
              <th scope="row" style="text-align:center">{{index+1}}</th>
              <td style="text-align:center">{{item.name}}</td>
              <td style="text-align:center">{{item.description}}</td>
              <td style="text-align:center">{{item.status=='true'? 'Available':'Out of stock'}}</td>
              <td style="text-align:center">{{item.price.s}}</td>
              <td style="text-align:center">{{item.price.m}}</td>
              <td style="text-align:center">{{item.price.l}}</td>
              <td style="text-align:center">
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#editModal"
                  @click="editBtnShow(item)">Edit</button>
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal"
                  @click="deleteBtnShow(item)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav aria-label="Page navigation example" id="pagination">
        <div class="row">
          <div class="col-sm" style="text-align:left">
            <select class="form-control-inline form-control-sm custom-control-inline" v-model="maxItemPerPage"
              @change="pagination=0">
              <option value="5">5 items/page</option>
              <option value="10">10 items/page</option>
              <option value="25">25 items/page</option>
            </select>
          </div>
          <div class="col-sm" style="text-align:center">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" @click="pagination=0" href="#pagination">First</a>
              </li>
              <li class="page-item">
                <a class="page-link" @click="pagination!=0? pagination-=1:pagination" href="#pagination">Previous</a>
              </li>
              <li
                v-if="((pagination+3 > index) && (pagination-3 < index)) || (pagination<5 && (index==3 || index==4)) || (pagination<5 && (index==3 || index==4)) || ((beverages.length%maxItemPerPage==0? parseInt((beverages.length)/maxItemPerPage)-pagination+1 <5 && (index==parseInt((beverages.length)/maxItemPerPage)-4 || index==parseInt((beverages.length)/maxItemPerPage)-5):parseInt((beverages.length)/maxItemPerPage)+1-pagination+1 <5 && (index==parseInt((beverages.length)/maxItemPerPage)-4+1 || index==parseInt((beverages.length)/maxItemPerPage)-5+1) ))"
                class="page-item"
                v-for="(item,index) in (beverages.length%maxItemPerPage==0? parseInt((beverages.length)/maxItemPerPage):parseInt((beverages.length)/maxItemPerPage)+1)"
                :key="index"><a class="page-link" @click="pagination = index" href="#pagination">{{index+1}}</a></li>

              <li class="page-item">
                <a class="page-link"
                  @click="beverages.length%maxItemPerPage==0? (pagination+1<parseInt((beverages.length)/maxItemPerPage)? pagination +=1:pagination) : (pagination+1<parseInt((beverages.length)/maxItemPerPage)+1?pagination +=1:pagination)"
                  href="#pagination">Next</a>
              </li>
              <li class="page-item">
                <a class="page-link"
                  @click="beverages.length%maxItemPerPage==0? pagination=parseInt(beverages.length/maxItemPerPage)-1:pagination=parseInt(beverages.length/maxItemPerPage)+1-1"
                  href="#pagination">Last</a>
              </li>
            </ul>
          </div>
          <div class="col-sm" style="text-align:right">
            Page {{pagination+1}}
          </div>
        </div>
      </nav>
    </div>

    <!-- Modal Edit-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div v-if="select=='Desserts'">
              <label for="exampleFormControlInput1">Type</label>
              <select class="form-control" v-model="editItem.type">
                <option value="pancake">Pancake</option>
                <option value="toast">Toast</option>
                <option value="waffle">Waffle</option>
                <option value="crepe">Crepe</option>
              </select>
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="nameDessert" placeholder="Name" v-model.lazy="editItem.name"
                @change="checkNameConflickEdit()">
              <label for="exampleFormControlInput1">Description</label>
              <input type="text" class="form-control" id="descriptionDessert" placeholder="Description"
                v-model="editItem.description">
              <label for="exampleFormControlInput1">Status</label>
              <select class="form-control" v-model="editItem.status">
                <option value="true">Available</option>
                <option value="false">Out of Stock</option>
              </select>
              <label for="exampleFormControlInput1">Price (Baht)</label>
              <input type="number" min="0" class="form-control" id="priceDessert" placeholder="Price"
                v-model="editItem.price" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
              <label for="exampleFormControlInput1">Image URL</label>
              <input type="text" class="form-control" id="imgurlDessert" placeholder="Image URL"
                v-model="editItem.imgurl">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editFood()">Save
                  changes</button>
              </div>
            </div>
            <div v-else-if="select=='Toppings'">
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="nameDessert" placeholder="Name" v-model="editItem.name" @change="checkNameConflickEdit()">
              <label for="exampleFormControlInput1">Status</label>
              <select class="form-control" v-model="editItem.status">
                <option value="true">Available</option>
                <option value="false">Out of Stock</option>
              </select>
              <label for="exampleFormControlInput1">Price (Baht)</label>
              <input type="number" min="0" class="form-control" id="priceDessert" placeholder="Price"
                v-model="editItem.price" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editFood()">Save
                  changes</button>
              </div>
            </div>
            <div v-else>
              <label for="exampleFormControlInput1">Type</label>
              <select class="form-control" v-model="editItem.type">
                <option value="coffee">Coffee</option>
                <option value="tea">Tea</option>
                <option value="soda">Soda</option>
              </select>
              <label for="exampleFormControlInput1">Name</label>
              <input type="text" class="form-control" id="nameDessert" placeholder="Name" v-model="editItem.name" @change="checkNameConflickEdit()">
              <label for="exampleFormControlInput1">Description</label>
              <input type="text" class="form-control" id="descriptionDessert" placeholder="Description"
                v-model="editItem.description">
              <label for="exampleFormControlInput1">Status</label>
              <select class="form-control" v-model="editItem.status">
                <option value="true">Available</option>
                <option value="false">Out of Stock</option>
              </select>
              <label for="exampleFormControlInput1">Price (Baht)</label>
              <div class="row">
                <div class="col">
                  <input type="number" min="0" class="form-control" id="priceDessert" placeholder="S"
                    v-model="editItem.price.s" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </div>
                <div class="col">
                  <input type="number" min="0" class="form-control" id="priceDessert" placeholder="M"
                    v-model="editItem.price.m" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </div>
                <div class="col">
                  <input type="number" min="0" class="form-control" id="priceDessert" placeholder="L"
                    v-model="editItem.price.l" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </div>
              </div>
              <label for="exampleFormControlInput1">Image URL</label>
              <input type="text" class="form-control" id="imgurlDessert" placeholder="Image URL"
                v-model="editItem.imgurl">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" @click="editFood()">Save
                  changes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Confirm delete {{deleteItem.name}} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" @click="deleteBtn()">Confirm</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Stock',
    data() {
      return {
        msg: 'Welcome to Stock Page',
        select: '',
        pagination: 0,
        maxItemPerPage: 5,
        desserts: [],
        toppings: [],
        beverages: [],
        newDessert: {
          type: 'pancake',
          name: '',
          description: '',
          status: 'true',
          price: '0',
          imgurl: ''
        },
        newTopping: {
          name: '',
          status: 'true',
          price: '0'
        },
        newBeverage: {
          type: 'coffee',
          name: '',
          description: '',
          status: 'true',
          price: {
            s: '0',
            m: '0',
            l: '0'
          },
          imgurl: ''
        },
        editItem: {
          price: {}
        },
        deleteItem: {}
      }
    },
    methods: {
      //change select type
      changeSelect(type) {
        this.select = type
        this.pagination = 0
      },
      //check name when add modal
      checkNameConflick() {
        if (this.select == 'Desserts') {
          if (this.desserts.find(item => item.name == this.newDessert.name) != undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.newDessert.name = ''
          }
        } else if (this.select == 'Toppings') {
          if (this.toppings.find(item => item.name == this.newTopping.name) != undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.newTopping.name = ''
          }
        } else {
          if (this.beverages.find(item => item.name == this.newBeverage.name) != undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.newBeverage.name = ''
          }
        }
      },
      checkNameConflickEdit() {
        console.log("check")
        if (this.select == 'Desserts') {
          if (this.desserts.find(item => item.name == this.editItem.name && item.key != this.editItem.key) !=
            undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.editItem.name = ''
          }
        } else if (this.select == 'Toppings') {
          if (this.toppings.find(item => item.name == this.editItem.name && item.key != this.editItem.key) !=
            undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.editItem.name = ''
          }
        } else {
          if (this.beverages.find(item => item.name == this.editItem.name && item.key != this.editItem.key) !=
            undefined) {
            alert("Error ! This Name is in db already.\nPlease fill in again.")
            this.editItem.name = ''
          }
        }
      },
      //add new food
      addNew() {
        if(this.newDessert.price == '') this.newDessert.price = 0
        if(this.newTopping.price == '') this.newTopping.price = 0
        if(this.newBeverage.price) {
          if(this.newBeverage.price.s == '') this.newBeverage.price.s = 0
          if(this.newBeverage.price.m == '') this.newBeverage.price.m = 0
          if(this.newBeverage.price.l == '') this.newBeverage.price.l = 0
        }
        if (this.select == 'Desserts') {
          console.log(this.newDessert)      
          if(this.newDessert.name == '') alert("Cant add new desert to db. Name can't be null.") 
          else if (this.desserts.find(item => item.name == this.newDessert.name) == undefined) {
            console.log("add new desert to db")
            firebase.database().ref('dessert').push({
                type: this.newDessert.type,
                name: this.newDessert.name,
                description: this.newDessert.description,
                status: this.newDessert.status,
                price: parseInt(this.newDessert.price),
                imgurl: this.newDessert.imgurl
              })
              .then((data) => {
                console.log(data)
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            alert("Cant add new desert to db. This Name is in db already.")
            console.log("cant add new desert to db")
          }
          this.newDessert = {
            type: 'pancake',
            name: '',
            description: '',
            status: 'true',
            price: '0',
            imgurl: ''
          }
        } else if (this.select == 'Toppings') {
          console.log(this.newTopping)
          if(this.newTopping.name == '') alert("Cant add new topping to db. Name can't be null.") 
          else if (this.toppings.find(item => item.name == this.newTopping.name) == undefined) {
            console.log("add new topping to db")
            firebase.database().ref('topping').push({
                name: this.newTopping.name,
                status: this.newTopping.status,
                price: parseInt(this.newTopping.price)
              })
              .then((data) => {
                console.log(data)
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            alert("Cant add new topping to db. This Name is in db already.")
            console.log("cant add new topping to db")
          }
          this.newTopping = {
            name: '',
            status: 'true',
            price: '0'
          }
        } else {
          console.log(this.newBeverage)
          if(this.newBeverage.name == '') alert("Cant add new topping to db. Name can't be null.") 
          else if (this.beverages.find(item => item.name == this.newBeverage.name) == undefined) {
            console.log("add new beverage to db")
            firebase.database().ref('beverage').push({
                type: this.newBeverage.type,
                name: this.newBeverage.name,
                description: this.newBeverage.description,
                status: this.newBeverage.status,
                price: {
                  s: parseInt(this.newBeverage.price.s),
                  m: parseInt(this.newBeverage.price.m),
                  l: parseInt(this.newBeverage.price.l)
                },
                imgurl: this.newBeverage.imgurl
              })
              .then((data) => {
                console.log(data)
              })
              .catch((error) => {
                console.log(error)
              })
          } else {
            alert("Cant add new beverage to db. This Name is in db already.")
            console.log("cant add new beverage to db")
          }
          this.newBeverage = {
            type: 'coffee',
            name: '',
            description: '',
            status: 'true',
            price: {
              s: '0',
              m: '0',
              l: '0'
            },
            imgurl: ''
          }
        }
      },  
      //edit food
      editFood() {
        console.log(this.editItem.name)
        var url = ''
        var data = {}       
        
        
        if (this.select == 'Desserts') {
          console.log(this.editItem)    
          if(this.editItem.price == '') this.editItem.price = 0  
          if(this.editItem.name == '') alert("Cant edit desert to db. Name can't be null.") 
          else if (this.desserts.find(item => item.name == this.editItem.name && item.key != this.editItem.key) == undefined) {
            console.log("edit desert to db")
            url = 'dessert/'
            data = {
              type: this.editItem.type,
              name: this.editItem.name,
              description: this.editItem.description,
              status: this.editItem.status,
              price: parseInt(this.editItem.price),
              imgurl: this.editItem.imgurl
            }
          } else {
            alert("Cant edit desert to db. This Name is in db already.")
            console.log("cant add new desert to db")
          }
        } else if (this.select == 'Toppings') {
          console.log(this.editItem)
          if(this.editItem.price == '') this.editItem.price = 0
          if(this.editItem.name == '') alert("Cant edit topping to db. Name can't be null.") 
          else if (this.toppings.find(item => item.name == this.editItem.name && item.key != this.editItem.key) == undefined) {
            console.log("edit topping to db")
            url = 'topping/'
            data = {
              name: this.editItem.name,
              status: this.editItem.status,
              price: parseInt(this.editItem.price)
            }
          } else {
            alert("Cant add new topping to db. This Name is in db already.")
            console.log("cant add new topping to db")
          }
        } else {
          console.log(this.editItem)
          if(this.editItem.price) {
            if(this.editItem.price.s == '') this.editItem.price.s = 0
            if(this.editItem.price.m == '') this.editItem.price.m = 0
            if(this.editItem.price.l == '') this.editItem.price.l = 0
          }
          if(this.editItem.name == '') alert("Cant edit beverage to db. Name can't be null.") 
          else if (this.beverages.find(item => item.name == this.editItem.name && item.key != this.editItem.key) == undefined) {
            console.log("edit beverage to db")
            url = 'beverage/'
            data = {
              type: this.editItem.type,
              name: this.editItem.name,
              description: this.editItem.description,
              status: this.editItem.status,
              price: {
                s: parseInt(this.editItem.price.s),
                m: parseInt(this.editItem.price.m),
                l: parseInt(this.editItem.price.l)
              },
              imgurl: this.editItem.imgurl
            }
          } else {
            alert("Cant edit beverage to db. This Name is in db already.")
            console.log("cant edit beverage to db")
          }
        }
        firebase.database().ref(url + this.editItem.key).set(data)
        this.editItem = {
          price: {}
        }
      },
      //edit Btn
      editBtnShow(item) {
        this.editItem = JSON.parse(JSON.stringify(item))
        console.log(JSON.parse(JSON.stringify(item)))
      },
      //delete food
      deleteBtn() {
        if (this.select == 'Desserts') firebase.database().ref('dessert/' + this.deleteItem.key).remove()
        else if (this.select == 'Toppings') firebase.database().ref('topping/' + this.deleteItem.key).remove()
        else firebase.database().ref('beverage/' + this.deleteItem.key).remove()
      },
      //delete Btn
      deleteBtnShow(item) {
        this.deleteItem = item
      }
    },
    mounted() {
      firebase.database().ref('dessert').on('value', (snapshot) => {
        var response = snapshot.val()
        this.desserts = []
        for (var i in response) {
          response[i].key = i
          this.desserts.push(response[i])
          console.log("add new desert ")
          
        }
      })
      firebase.database().ref('topping').on('value', (snapshot) => {
        var response = snapshot.val()
        this.toppings = []
        for (var i in response) {
          response[i].key = i
          this.toppings.push(response[i])
          console.log("add new topping ")
        }
      })
      firebase.database().ref('beverage').on('value', (snapshot) => {
        var response = snapshot.val()
        this.beverages = []
        for (var i in response) {
          response[i].key = i
          this.beverages.push(response[i])
          console.log("add new beverage ")          
        }
      })
      //addMovie() {
      /* firebase.database().ref('movies').push({
           name: this.movie
         })
         .then((data) => {
           console.log(data)
         })
         .catch((error) => {
           console.log(error)
         })*/

      //editMovie(key) {
      /* firebase.database().ref('movies/' + key).set({
         name: this.editName[key]
       })*/

      //deleteMovie(key) {
      //firebase.database().ref('movies/' + key).remove()
    }
  }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
