<template>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark" v-if="!['/admin/stock', '/admin/order'].includes($route.path)">
    <router-link to="/home" class="navbar-brand">
      <img src="../../assets/logo2.png" width="50" height="50">
    </router-link>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <span class="white-text">La Mer Cafe House</span>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" v-if="uid">
        <router-link :to="'/profile/' + uid" class="btn btn-info">{{ displayName }}</router-link>
        <button class="btn btn-danger my-2 my-sm-0" type="submit" @click="signOut">Sign out</button>
      </form>
      <form class="form-inline my-2 my-lg-0" v-else>
        <router-link to="/signup" class="btn btn-outline-info" role="button">Join now</router-link>
        <router-link to="/signin" class="btn btn-light" role="button">Sign in</router-link>>
      </form>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {
      uid: "",
    }
  },
  created() {
    try {
      this.uid = firebase.auth().currentUser.uid;
      this.displayName = firebase.auth().currentUser.displayName;
    } catch (e) {
      
    }

    if (this.uid) {
      firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("dessert").on("value", dessert => {
        firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("beverage").on("value", beverage => {
          this.cart = { ...dessert.val(), ...beverage.val() };
        });
      });
    }
  },
  methods: {
    signOut() {
      firebase.auth().signOut().then(() => {
        this.$router.replace("/home");
      }).catch(() => {
        console.log("Sign out unsuccessful");
      });
    },
  }
}
</script>

<style scoped>
@font-face {
  font-family: junegull;
  src: url("../../assets/junegull.ttf");
}
.white-text {
  font-family: junegull;
  font-size: 50px;
  color: white;
}
.btn {
  margin-left: 15px;
  min-width: 120px;
}
.navbar {
  height: 70px;
}
</style>
