<template>
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark" v-if="!['/admin/stock', '/admin/order'].includes($route.path)">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <router-link class="nav-link" to="/menu/pancake">
            <p>Pancake |</p>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/menu/toast">
            <p>Toast |</p>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/menu/waffle">
            <p>Waffle |</p>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/menu/crepe">
            <p>Crepe |</p>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" to="/menu/beverage">
            <p>Beverage</p>
          </router-link>
        </li>
      </ul>
      <form class="form-inline">
        <router-link to="/cart">
          <div class="ui teal compact menu">
            <a class="item">
              <i class="icon cart"></i>
              <div class="floating ui red label" v-if="Object.keys(cart).length > 0">{{ Object.keys(cart).length }}</div>
            </a>
            <a class="item">
              <i class="money bill alternate outline icon"></i>
              <div>{{ totalPrice + "THB"}}</div>
            </a>
          </div>
        </router-link>
      </form>
    </div>
  </nav>
</template>

<script>
export default {
  name: "Navigation",
  data() {
    return {
      uid: "",
      cart: [],
    };
  },
  created() {
    try {
      this.uid = firebase.auth().currentUser.uid;
    } catch (e) {
      this.uid = "";
    }
    
    if (this.uid) {
      firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("dessert").on("value", dessert => {
        firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("beverage").on("value", beverage => {
          this.cart = { ...dessert.val(), ...beverage.val() };
        });
      });
    }
  },
  computed: {
    totalPrice() {
      var totalPrice = 0;
      for (var item in this.cart) {
        totalPrice += this.cart[item].price;
      }
      return totalPrice;
    },
  },
};
</script>

<style scoped>
@font-face {
  font-family: junegull;
  src: url("../../assets/junegull.ttf");
}
.white-text {
  font-family: junegull;
  font-size: 50px;
  color: white;
}
.btn {
  margin-left: 15px;
}
.navbar {
  font-family: junegull;
  font-size: 20px;  
  height: 70px;
  text-align: center;
  color: #2c3e50;
  background-color: #278FAE;
}
.disabled {
  cursor: not-allowed;
  color: gray;
}
</style>
