<template>
  <div class="hello">
    <div class="bodymain">
      <div class="container">
        <p class="display-4" style="margin-bottom: 0px;">Dessert</p>
        <table class="ui celled structured table">
          <thead>
            <tr class="center aligned">
              <th rowspan="2">No.</th>
              <th rowspan="2">Name</th>
              <th colspan="4">Topping</th>
              <th rowspan="2">Amount</th>
              <th rowspan="2">Price</th>
              <th rowspan="2">Delete</th>
            </tr>
            <tr class="center aligned">
              <th>Whip cream</th>
              <th>Almond</th>
              <th>Chocolate</th>
              <th>Rainbow</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(dessert, key, index) in dessertCart" :key="key">
              <td>{{ index + 1 }}</td>
              <td>{{ dessert.name }}</td>
              <td class="center aligned" v-if="dessert.toppings">
                <i class="large green check icon" v-if="dessert.toppings.filter(cls => 'Whipped Cream'.includes(cls.name)).length > 0"></i>
                <i class="large red x icon" v-else></i>
              </td>
              <td v-else class="center aligned">
                <i class="large red x icon"></i>
              </td>
              <td class="center aligned" v-if="dessert.toppings">
                <i class="large green check icon" v-if="dessert.toppings.filter(cls => 'Almond'.includes(cls.name)).length > 0"></i>
                <i class="large red x icon" v-else></i>
              </td>
              <td v-else class="center aligned">
                <i class="large red x icon"></i>
              </td>
              <td class="center aligned" v-if="dessert.toppings">
                <i class="large green check icon" v-if="dessert.toppings.filter(cls => 'Chocolate'.includes(cls.name)).length > 0"></i>
                <i class="large red x icon" v-else></i>
              </td>
              <td v-else class="center aligned">
                <i class="large red x icon"></i>
              </td>
              <td class="center aligned" v-if="dessert.toppings">
                <i class="large green check icon" v-if="dessert.toppings.filter(cls => 'Rainbow'.includes(cls.name)).length > 0"></i>
                <i class="large red x icon" v-else></i>
              </td>
              <td v-else class="center aligned">
                <i class="large red x icon"></i> 
              </td>
              <td class="center aligned">{{ dessert.amount }}</td>
              <td class="center aligned">{{ dessert.price }}</td>
              <td class="center aligned">
                <button class="ui red icon button" @click="deleteOrder(key)">
                  <i class="times circle icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <p class="display-4" style="margin-bottom: 0px;">Beverage</p>
        <table class="ui celled structured table">
          <thead>
            <tr class="center aligned">
              <th rowspan="1">No.</th>
              <th rowspan="1">Name</th>
              <th rowspan="1">Size</th>
              <th rowspan="1">Sweet</th>
              <th rowspan="1">Amount</th>
              <th rowspan="1">Price</th>
              <th rowspan="1">Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(beverage, key, index) in beverageCart" :key="key">
              <td>{{ index + 1 }}</td>
              <td>{{ beverage.name }}</td>
              <td class="center aligned">{{ beverage.size }}</td>
              <td class="center aligned">{{ beverage.sweet + "%"}}</td>
              <td class="center aligned">{{ beverage.amount }}</td>
              <td class="center aligned">{{ beverage.price }}</td>
              <td class="center aligned">
                <button class="ui red icon button" @click="deleteOrder(key)">
                  <i class="times circle icon"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="cartprice" style="margin-bottom: 30px;"><p class="display-4">TOTAL : {{ totalPrice }} THB</p></div>
        <div>
          <button class="ui blue labeled icon button large" @click="checkOut">
            <i class="money bill alternate icon"></i>
            <span style="font-size: 28px">Check Out!</span>
          </button>
        </div>
      </div>
      <img class="img-responsive contact" src="../assets/contact.jpg">
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      uid: "",
      cart: [],
    };
  },
  created() {
    this.uid = firebase.auth().currentUser.uid;

    firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("dessert").on("value", dessert => {
      firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("beverage").on("value", beverage => {
        this.cart = { ...dessert.val(), ...beverage.val() };
      })
    })
  },
  computed: {
    totalPrice() {
      var totalPrice = 0;
      for (var item in this.cart) {
        totalPrice += this.cart[item].price;
      }
      return totalPrice;
    },
    dessertCart() {
      return Object.keys(this.cart).reduce((acc, val) => this.cart[val]["type"] !== "dessert" ? acc : {
        ...acc, [val]: this.cart[val]
      }, {});
    },
    beverageCart() {
      return Object.keys(this.cart).reduce((acc, val) => this.cart[val]["type"] !== "beverage" ? acc : {
        ...acc, [val]: this.cart[val]
      }, {});
    }
  },
  methods: {
    deleteOrder(item) {
      if (window.confirm("You want to delete this item?")) {
        firebase.database().ref().child(`carts/${this.uid}`).child(item).remove();
      }
    },
    checkOut() {
      firebase.database().ref().child("orders").push({ ...this.cart, uid: this.uid }).then(() => {
        firebase.database().ref().child(`carts/${this.uid}`).remove().then(() => {
          alert("CHECKED OUT, PLEASE WAIT FOR THE DELIVERY");
        });
      });
      this.$router.replace("/home");
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@font-face {
  font-family: junegull;
  src: url("../assets/junegull.ttf");
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
.bottom-header-bar {
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  height: 70px;
}
.bodymain {
  max-width: 80%;
  min-height: 970px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 30px 40px 10px 40px;
  max-width: 100%;
  background-color: white;
}
.card {
  margin-bottom: 20px;
}
.content {
  text-align: left;
  padding: 10px 20px 0px 20px;
  min-height: 120px;
}
.pricecard {
  text-align: right;
  padding-right: 40px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.extracontent {
  margin-bottom: 30px;
}
.modal-body {
  background-color: #278fae;
}
.modalprice {
  float: right;
}
.modaldesc {
  text-align: left;
  margin-left: 50px;
  padding-right: 50px;
}
.quality {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.contact {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  background-image: url("../assets/contact.jpg");
}
.navbar-dark {
  background-repeat: repeat;
  font-size: 20px;
}
.hello {
  font-family: junegull;
  text-align: center;
  color: #2c3e50;
  background-image: url("../assets/bg2.jpg");
}
th {
  font-size: 15px;
}
td {
  font-size: 18px;
}
</style>
