<template>
  <div class="hello">
    <div class="bodymain">
      <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="img-responsive d-block w-100" src="../assets/slide3.jpg" height="400">
            </div>
            <div class="carousel-item">
              <img class="img-responsive d-block w-100" src="../assets/slide4.jpg" height="400">
            </div>
            <div class="carousel-item">
              <img class="img-responsive d-block w-100" src="../assets/slide5.jpg" height="400">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <!-- SHOW ALL MENUS -->
      <div class="container">
        <div class="picmenu">
          <img src="../assets/menu.png" height="100px" width="500px">
        </div>
        <div class="ui link cards">
          <div class="col-3 align-items stretch" v-for="menu in menus" :key="menu.name">
            <div class="card">
              <div class="card-image">
                <img class="img-responsive" :src="menu.imgurl" width="100%">
              </div>
              <div class="content">
                <div class="header">
                  <h5 class="card-title">{{ menu.name }}</h5>
                </div>
                <div class="description">
                  <small>{{ menu.description }}</small>
                </div>
              </div>
              <div class="pricecard" v-if="dessert.includes(menu.type)">
                {{ menu.price }} THB
              </div>
              <div class="pricecard" v-else>
                {{ "S/M/L " + menu.price.s + "/" + menu.price.m + "/" + menu.price.l}} THB
              </div>
              <button class="card-footer text-muted" data-toggle="modal" data-target="#add-to-card-modal" data-backdrop="static" data-keyboard="false" @click="sendMenu(menu)" :disabled="menu.status === 'false'" v-if="uid">
                <img src="../assets/addtocart.png" class="add-to-cart img-responsive" v-if="menu.status === 'true'">
                <img src="../assets/outofstock.png" class="add-to-cart img-responsive" v-else>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- ADD TO CART MODAL -->
      <div class="modal" tabindex="-1" role="dialog" id="add-to-card-modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add to Cart</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img :src="menu.imgurl" width="200" height="200">
              <div class="modaldesc">
                <h5 class="card-title">{{ menu.name }}</h5>
                <!-- TOPPING SELECTION FOR DESSERT -->
                <div v-if="dessert.includes(menu.type)">  
                  <p style="font-size: 21px">Topping</p>
                  <div v-for="topping in toppings" :key="topping.name">
                    <div class="form check">
                      <input class="form-check-input" type="checkbox" :id="topping.name" :value="{ name: topping.name, price: topping.price }" v-model="checkedToppings">
                      <label class="form-check-label" :for="topping.name">{{ topping.name }}</label>
                      <span class="modalprice">{{ topping.price }}</span>
                    </div>
                  </div>
                </div>
                <!-- SIZE/PRICE SELECTION FOR BEVERAGE -->
                <div v-else>
                  <p style="font-size: 21px; margin-top: 15px; margin-bottom: 0px;">Size</p>
                  <div class="form-check form-check-inline" v-for="(price, size) in menu.price" :key="size">
                    <input class="form-check-input" type="radio" name="select-price" :id="size" :value="{size, price}" v-model="selectedPrice">
                    <label class="form-check-label" style="font-size: 18px">{{ size.toUpperCase() + " \\ " + price }}</label>
                  </div>
                  <p style="font-size: 21px; margin-top: 10px; margin-bottom: 0px;">Sweetness</p>
                  <div class="form-check form-check-inline" v-for="(sweetness, index) in ['25', '50', '75', '100']" :key="index">
                    <input class="form-check-input" type="radio" name="select-sweetness" :id="sweetness" :value="sweetness" v-model="selectedSweet">
                    <label class="form-check-label" style="font-size: 18px">{{ sweetness + "%" }}</label>
                  </div>
                </div>
              </div>
              <div class="quality">
                <div class="ui action input">
                  <!-- AMOUNT DECREMENT BUTTON -->
                  <button class="ui red icon left attached button" @click="amountIncrement(-1)">
                    <i class="minus icon"></i>
                  </button>
                  <input type="text" :value="amount" style="text-align: center;" onkeydown="return false">
                  <!-- AMOUNT INCREMENT BUTTON -->
                  <button class="ui green icon button" @click="amountIncrement(1)">
                    <i class="plus icon"></i>
                  </button>
                </div>
                <!-- SHOW CURRENT ITEM PRICE -->
                <a class="ui red tag label" v-if="dessert.includes(menu.type)"><span>{{ (menu.price + toppingPrice) * amount }}</span></a>
                <a class="ui red tag label" v-else>{{ selectedPrice ? selectedPrice.price * amount : 0 }}</a>
              </div>
            </div>
            <div class="modal-footer">
              <!-- ADD TO CARTl BUTTON -->
              <button type="button" class="btn btn-primary" data-dismiss="modal" @click="addToCart(menu)">Add to Cart</button>
              <!-- CLOSE MODAL BUTTON -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="resetData">Close</button>
            </div>
          </div>
        </div>
      </div>
      <img class="img-responsive contact" src="../assets/contact.jpg">
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
      uid: "",
      dessert: ["pancake", "toast", "waffle", "crepe"],
      beverage: ["soda", "tea", "coffee"],
      menu: {},
      menus: [],
      cart: [],
      dessertMenu: [],
      beverageMenu: [],
      dessertCart: [],
      beverageCart: [],
      toppings: {},
      checkedToppings: [],
      selectedPrice: "",
      selectedSweet: "",
      amount: 1,
    };
  },
  created() {
    try {
      this.uid = firebase.auth().currentUser.uid;
    } catch (e) {
      this.uid = "";
    }

    firebase.database().ref().child("dessert").on("value", dessert => {
      firebase.database().ref().child("beverage").on("value", beverage => {
        this.menus = { ...dessert.val(), ...beverage.val() };
      });
    });

    firebase.database().ref().child("topping").on("value", toppings => {
      this.toppings = toppings.val();
    });

    if (this.uid) {
      firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("dessert").on("value", dessert => {
        firebase.database().ref().child("carts").child(this.uid).orderByChild("type").equalTo("beverage").on("value", beverage => {
          this.cart = { ...dessert.val(), ...beverage.val() };
        });
      });
    }
  },
  computed: {
    toppingPrice() {
      var toppingPrice = 0;
      if (this.checkedToppings.length > 0) {
        this.checkedToppings.forEach(topping => {
          toppingPrice += parseInt(topping.price);
        })
      }
      return toppingPrice;
    },
  },
  methods: {
    amountIncrement(n) {
      this.amount += n;
      if (this.amount < 1) this.amount = 1;
    },
    sendMenu(menu) {
      this.menu = menu;
    },
    addToCart(menu) {
      if (this.selectedPrice !== "" && this.selectedSweet !== "") {
        firebase.database().ref().child(`carts/${this.uid}`).push({
          name: menu.name,
          size: this.selectedPrice.size,
          sweet: this.selectedSweet,
          amount: this.amount,
          price: this.selectedPrice.price * this.amount,
          type: "beverage"
        });
      } else {
        if (this.dessert.includes(menu.type)) {
          firebase.database().ref().child(`carts/${this.uid}`).push({
            name: menu.name,
            toppings: this.checkedToppings,
            amount: this.amount,
            price: (menu.price + this.toppingPrice) * this.amount,
            type: "dessert"
          });
        } else {
          alert("PLEASE SELECT BEVERAGE SIZE BEFORE ADD TO CART");
        }
      }
      this.resetData();
    },
    resetData() {
      this.selectedPrice = "";
      this.selectedSweet = "";
      this.checkedToppings = [];
      this.menu = {};
      this.amount = 1;
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@font-face {
  font-family: junegull;
  src: url("../assets/junegull.ttf");
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
}
a {
  color: #42b983;
}
.bottom-header-bar {
  margin-left: auto;
  margin-right: auto;
}
.navbar {
  height: 70px;
}
.bodymain {
  max-width: 80%;
  min-height: 970px;
  margin-left: auto;
  margin-right: auto;
}
.whitetext {
  color: white;
}
.container {
  padding: 30px 40px 10px 40px;
  max-width: 100%;
  background-color: white;
}
.card {
  margin-bottom: 20px;
}
.content {
  text-align: left;
  padding: 10px 20px 0px 20px;
  min-height: 120px;
}
.pricecard {
  text-align: right;
  padding-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.extracontent {
  margin-bottom: 30px;
}
.modal-body {
  background-color: #278fae;
}
.modalprice {
  float: right;
}
.modaldesc {
  text-align: left;
  margin-left: 50px;
  padding-right: 50px;
}
.quality {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.contact {
  height: 200px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  background-image: url("../assets/contact.jpg");
}
.add-to-cart {
  width: 110%;
  margin-left: -5%;
}
.navbar-dark {
  font-size: 20px;
}
.picmenu {
  margin-bottom: 50px;
}
.card-title {
  font-family: junegull;
  font-size: 24px;
}
.description {
  font-size: 18px;
  margin-top: 10px;
}
.hello {
  font-family: junegull;
  text-align: center;
  color: #2c3e50;
  background-image: url("../assets/bg2.jpg");
  background-repeat: repeat;
}
</style>
