<template>
  <div class="container" style="margin-top: 54px;">
    <h1>{{ msg }}</h1>
    <div class="row justify-content-center">
      <form @submit.prevent="onSubmit" @reset="onReset" novalidate>
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="First name*" v-model="user.firstname" v-validate="'required|alpha'" id="firstname" name="firstname" :class="{ 'is-invalid': submitted && errors.has('firstname') }" data-vv-as="first name" autofocus>
              <div class="invalid-feedback" v-if="submitted && errors.has('firstname')">{{ errors.first("firstname") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Last name*" v-model="user.lastname" v-validate="'required|alpha'" id="last name" name="last name" :class="{ 'is-invalid': submitted && errors.has('last name') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('last name')">{{ errors.first("last name") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-3">
              <vc-date-picker :input-props='{ placeholder: "Select birthdate*", readonly: true }' v-model="user.birthdate" v-validate="'required:true'" id="birthdate" name="birthdate" :class="{ 'is-invalid': submitted && errors.has('birthdate') }" />
              <div class="invalid-feedback" v-if="submitted && errors.has('birthdate')">{{ errors.first("birthdate") }}</div>
            </div>
            <div class="form-group col-3">
              <input class="form-control" type="text" placeholder="Phone number*" v-model="user.phone" v-validate="'required|numeric'" id="phone number" name="phone number" :class="{ 'is-invalid': submitted && errors.has('phone number') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('phone number')">{{ errors.first("phone number") }}</div>
            </div>
            <div class="form-group col-6">
              <div class="radio-group">
                <input type="radio" name="gender" value="male" id="male" v-model="user.gender">
                <label for="male">Male</label>
                <input type="radio" name="gender" value="female" id="female" v-model="user.gender">
                <label for="female">Female</label>
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <textarea class="form-control" rows="2" placeholder="Address..." v-model="user.address"></textarea>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="District*" v-model="user.district" v-validate="'required'" id="district" name="district" :class="{ 'is-invalid': submitted && errors.has('district') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('district')">{{ errors.first("district") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Province*" v-model="user.province" v-validate="'required'" id="province" name="province" :class="{ 'is-invalid': submitted && errors.has('province') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('province')">{{ errors.first("province") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Country*" v-model="user.country" v-validate="'required'" id="country" name="country" :class="{ 'is-invalid': submitted && errors.has('country') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('country')">{{ errors.first("country") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Postal code*" v-model="user.zipcode" v-validate="'required|numeric'" id="zip code" name="zip code" :class="{ 'is-invalid': submitted && errors.has('zip code') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('zip code')">{{ errors.first("zip code") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <input class="form-control" type="email" placeholder="Email address*" v-model="user.email" v-validate="'required|email'" id="email" name="email" :class="{ 'is-invalid': submitted && errors.has('email') }" disabled>
              <div class="invalid-feedback" v-if="submitted && errors.has('email')">{{ errors.first("email") }}</div>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 margin-top-15 margin-bottom-15">
          <button class="btn btn-danger btn-block" type="submit">SUBMIT</button>
        </div>
        <div class="col-12 margin-top-15 margin-bottom-15"><hr></div>
        <div class="col-8 offset-2 margin-top-15 margin-bottom-15">
          <button class="btn btn-outline-dark btn-block" type="reset">CANCEL</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>  
export default {
  name: "Profile",
  data() {
    return {
      msg: "Profile Page",
      displayName: "",
      user: {},
      submitted: false,
    }
  },
  created() {
    this.displayName = firebase.auth().currentUser.displayName;
    firebase.database().ref().child("users").child(this.$route.params.userid).on("value", user => {
      this.user = user.val();
      this.user.birthdate = new Date(this.user.birthdate);
    })
  },
  methods: {
    onSubmit() {
      firebase.database().ref().child("users").child(this.$route.params.userid).update({
        firstname: this.user.firstname,
        lastname: this.user.lastname,
        birthdate: this.user.birthdate.toString(),
        gender: this.user.gender,
        phone: this.user.phone,
        address: this.user.address,
        district: this.user.district,
        province: this.user.province,
        country: this.user.country,
        zipcode: this.user.zipcode,
        email: this.user.email.toLowerCase(),
      }).then(() => {
        firebase.auth().currentUser.updateProfile({
          displayName: this.user.firstname + " " + this.user.lastname,
        });
      });
      this.$router.replace('/home');
    },
    onReset() {
      this.$router.replace('/home');
    }
  },
}
</script>

<style scoped>
.container {
  text-align: center;
  max-width: 80%;
  min-height: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 10px 40px;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;  
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
</style>
