<template>
  <div class="container" style="margin-top: 54px;">
    <h1 class="display-4">{{ msg }}</h1>
    <form @submit.prevent="onSubmit" novalidate>  
      <div class="row justify-content-center">
        <div class="col-md-5 col-12">
          <div class="col-12">
            <div class="row">
              <div class="col-12 form-group">
                <input class="form-control" type="text" placeholder="Username*" v-model="form.username" autofocus>
              </div>
              <div class="col-12 form-group">
                <input class="form-control" type="password" placeholder="Password*" v-model="form.password" v-validate="'required|min:6'" id="password" name="password" :class="{ 'is-invalid': submitted && errors.has('password') }">
                <div class="invalid-feedback" v-if="submitted && errors.has('password')">{{ errors.first("password") }}</div>
              </div>
              <br><br><br>
              <div class="col-12 margin-top-15 margin-bottom-15">
                <button class="btn btn-danger btn-block" type="submit">SIGN IN</button>
              </div>
              <div class="col-12 margin-top-15 margin-bottom-15"><hr></div>
              <div class="col-12 margin-top-15 margin-bottom-15">
                <router-link to="signup" class="btn btn-outline-dark btn-block" role="button">Create account</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "SignIn",
  data() {
    return {
      msg: "Login",
      form: {
        username: "",
        password: ""
      },
      submitted: false,
    };
  },
  methods: {
    async onSubmit() {
      this.submitted = true;
      var hasUsername = await this.checkUsername();
      if (hasUsername) {
        var getEmail = new Promise((resolve, reject) => {
          firebase.database().ref().child("users").orderByChild("username").equalTo(this.form.username).once("value").then(snapshot => {
            snapshot.forEach(childSnapshot => {
              resolve(childSnapshot.val().email);
            });
          });
        });
        var email = await getEmail;
        firebase.auth().signInWithEmailAndPassword(email, this.form.password).then(user => {
          window.location.reload()
        }).catch((error) => {
          alert("Sorry, your username or password was incorrect. Please double-check.")
        })
      } else {
        alert("Sorry, your username or password was incorrect. Please double-check.")
      }
    },
    async checkUsername() {
      return new Promise((resolve, reject) => {
        firebase.database().ref().child("users").orderByChild("username").equalTo(this.form.username).once("value").then((user) => {
          resolve(user.val());
        });
      });
    }
  }
};
</script>

<style scoped>
.container {
  text-align: center;
  max-width: 80%;
  min-height: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 10px 40px;
}
</style>
