<template>
  <div class="container" style="margin-top: 54px;">
    <h1>{{ msg }}</h1>
    <div class="row justify-content-center">
      <form @submit.prevent="onSubmit" @reset="onReset" novalidate>
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="First name*" v-model="form.firstname" v-validate="'required|alpha'" id="firstname" name="firstname" :class="{ 'is-invalid': submitted && errors.has('firstname') }" data-vv-as="first name" autofocus>
              <div class="invalid-feedback" v-if="submitted && errors.has('firstname')">{{ errors.first("firstname") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Last name*" v-model="form.lastname" v-validate="'required|alpha'" id="last name" name="last name" :class="{ 'is-invalid': submitted && errors.has('last name') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('last name')">{{ errors.first("last name") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-3">
              <vc-date-picker :input-props='{ placeholder: "Select birthdate*", readonly: true }' v-model="form.birthdate" v-validate="'required:true'" id="birthdate" name="birthdate" :class="{ 'is-invalid': submitted && errors.has('birthdate') }" />
              <div class="invalid-feedback" v-if="submitted && errors.has('birthdate')">{{ errors.first("birthdate") }}</div>
            </div>
            <div class="form-group col-3">
              <input class="form-control" type="text" placeholder="Phone number*" v-model="form.phone" v-validate="'required|numeric'" id="phone number" name="phone number" :class="{ 'is-invalid': submitted && errors.has('phone number') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('phone number')">{{ errors.first("phone number") }}</div>
            </div>
            <div class="form-group col-6">
              <div class="radio-group">
                <input type="radio" name="gender" value="male" id="male" v-model="form.gender">
                <label for="male">Male</label>
                <input type="radio" name="gender" value="female" id="female" v-model="form.gender">
                <label for="female">Female</label>
                </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-12">
              <textarea class="form-control" rows="2" placeholder="Address..." v-model="form.address"></textarea>
            </div>
          </div>  
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="District*" v-model="form.district" v-validate="'required'" id="district" name="district" :class="{ 'is-invalid': submitted && errors.has('district') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('district')">{{ errors.first("district") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Province*" v-model="form.province" v-validate="'required'" id="province" name="province" :class="{ 'is-invalid': submitted && errors.has('province') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('province')">{{ errors.first("province") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Country*" v-model="form.country" v-validate="'required'" id="country" name="country" :class="{ 'is-invalid': submitted && errors.has('country') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('country')">{{ errors.first("country") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Postal code*" v-model="form.zipcode" v-validate="'required|numeric'" id="zip code" name="zip code" :class="{ 'is-invalid': submitted && errors.has('zip code') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('zip code')">{{ errors.first("zip code") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="email" placeholder="Email address*" v-model="form.email" v-validate="'required|email'" id="email" name="email" :class="{ 'is-invalid': submitted && errors.has('email') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('email')">{{ errors.first("email") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="text" placeholder="Username*" v-model="form.username" v-validate="'required'" id="username" name="username" :class="{ 'is-invalid': submitted && errors.has('username') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('username')">{{ errors.first("username") }}</div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-6">
              <input class="form-control" type="password" placeholder="Password*" v-model="form.password" v-validate="'required'" id="password" name="password" ref="password" :class="{ 'is-invalid': submitted && errors.has('password') }">
              <div class="invalid-feedback" v-if="submitted && errors.has('password')">{{ errors.first("password") }}</div>
            </div>
            <div class="form-group col-6">
              <input class="form-control" type="password" placeholder="Confirm password*" v-model="form.confirmpassword" v-validate="'required|confirmed:password'" id="confirm_password" name="confirm_password" :class="{ 'is-invalid': submitted && errors.has('confirm_password') }" data-vv-as="password">
              <div class="invalid-feedback" v-if="submitted && errors.has('confirm_password')">{{ errors.first("confirm_password") }}</div>
            </div>
          </div>
        </div>
        <div class="col-8 offset-2 margin-top-15 margin-bottom-15">
          <button class="btn btn-danger btn-block" type="submit">SUBMIT</button>
        </div>
        <div class="col-12 margin-top-15 margin-bottom-15"><hr></div>
        <div class="col-8 offset-2 margin-top-15 margin-bottom-15">
          <button class="btn btn-outline-dark btn-block" type="reset">CANCEL</button>
        </div>
      </form>
    </div>    
  </div>
</template>

<script>
export default {
  name: "SignUp",
  data() {
    return {
      msg: "Create your account",
      form: {
        firstname: "",
        lastname: "",
        birthdate: null,
        gender: null,
        phone: "",
        address: "",
        district: "",
        province: "",
        country: "",
        zipcode: "",
        email: "",
        username: "",
        password: "",
        confirmpassword: "",
      },
      submitted: false,
    };
  },
  methods: {
    onSubmit(e) {
      this.submitted = true;
      this.$validator.validate().then(valid => {
        if (valid) {
          firebase.database().ref().child("users").orderByChild("username").equalTo(this.form.username).once("value").then(username => {
            if (username.val()) {
              alert("The username is already in use by another account.")
            } else {
              firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password).then(user => {
                if (user) {
                  var uid = firebase.auth().currentUser.uid;
                  firebase.database().ref().child("users").child(uid).set({
                    firstname: this.form.firstname,
                    lastname: this.form.lastname,
                    birthdate: this.form.birthdate.toString(),
                    gender: this.form.gender,
                    phone: this.form.phone,
                    address: this.form.address,
                    district: this.form.district,
                    province: this.form.province,
                    country: this.form.country,
                    zipcode: this.form.zipcode,
                    email: this.form.email.toLowerCase(),
                    username: this.form.username.toLowerCase(),
                  }).then(() => {
                    firebase.auth().currentUser.updateProfile({
                      displayName: this.form.firstname + " " + this.form.lastname,
                    });
                    window.location.reload();
                  });
                }
              }).catch((error) => {
                alert(error.message);
              });
            }
          });
        }
      });
    },
    onReset(e) {
      this.submitted = false;
      this.form.firstname = "";
      this.form.lastname = "";
      this.form.birthdate = null;
      this.form.gender = null;
      this.form.phone = "";
      this.form.address = "";
      this.form.district = "";
      this.form.province = "";
      this.form.country = "";
      this.form.zipcode = "";
      this.form.email = "";
      this.form.username = "";
      this.form.password = "";
      this.form.confirmpassword = "";
      this.$router.replace("/");
    },
  }
};
</script>

<style scoped>
.container {
  text-align: center;
  max-width: 80%;
  min-height: 970px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 40px 10px 40px;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  z-index: -1;
}
input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
input[type="checkbox"]:checked + label::before,
input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #8e44ad;
}
/* Transition */
label,
label::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
</style>
