<template>
  <div id="app">
    <Header/>
    <Navigation/>
    <router-view/>
  </div>
</template>

<script>
import Header from '@/components/layouts/Header'
import Navigation from '@/components/layouts/Navigation'

export default {
  name: 'App',
  components: {
    Header,
    Navigation,
  }
}
</script>

<style scoped>
#app {
  /* font-family: 'Avenir', Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
